body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
#hero{
    font-size: 7rem;
}
#unnec{
    font-size: 2.5rem;
    display: flexbox;
    margin-bottom: 40px;
}
.header {
    background-color: #d8b4e2;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
}
.header img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin: 0;
}
.header-content p {
    font-size: 18px;
    margin: 10px 0;
}
.header-content .btn {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 30;
}
.header-content .btn:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}
.stats {
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.stats .stat {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
    color: #ffcc00;
}
.testimonial {
    background-color: #e0e0e0;
    text-align: center;
    padding: 50px 20px;
    font-style: italic;
}
.testimonial p {
    margin: 0;
}
.section-title {
    text-align: center;
    padding: 50px 20px;
    color: #ffcc00;
}
.section-title h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
}
.section-title p {
    font-size: 18px;
    color: #999;
}
.events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.event {
    background-color: #333;
    color: white;
    width: 45%;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.event img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.event-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.event-content h3 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 50px;
    font-size: 24px;
    margin: 0;
}
.event:hover{
    background-color: rgb(3, 0, 0);
    transition: 0.4s ease;
}

.event-content .btn {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.event-content .btn:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}
.footer {
    background-color: #d8b4e2;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
